@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

/* Hide scrollbar by default */
.hide-scrollbar::-webkit-scrollbar {
    width: 6px;
    background: transparent;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
}

/* Show scrollbar when active */
.show-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(59, 130, 246, 0.5);
    /* blue-500 with opacity */
}

/* Firefox support */
.hide-scrollbar {
    scrollbar-width: none;
}

.show-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(59, 130, 246, 0.5) transparent;
}

#root {
    padding: 0;
    margin: 0;
}